@import url("https://fonts.googleapis.com/css?family=Germania+One");

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.bg {
  &--0 { background-color: #ff6b81; }
  &--1 { background-color: #b71540; }
}

body {
  background-color: #2d3436;
  color: #fc427b;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg text {
  font-family: "Germania One", serif;
  color: #f2f2f2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
